<!-- <p>{{str | uppercase}}</p>

<p>{{str | lowercase}}</p>

<p>{{d | date:'dd/mm/yyyy'}}</p>

<p>{{d | date:'dd/MM/yyyy'}}</p>

<p>Time: {{ d |date:'shortTime' }}</p>

<p>price: {{price | currency:'INR'}}</p>

<p>percent : {{num | percent:'1.2-2'}}</p>

<p>slice str : {{str | slice:0:5}}</p>

<p>slice str : {{arr | slice:0:5}}</p>


<p>user details : {{obj | json}}</p> -->

<!-- custom pipes -->

<!-- <p>exponential value {{a | customPipe:2}}</p> -->

<!-- promise -->

<!-- <div>{{apromise | async}}</div> -->



<!-- Routing -->
<!-- ------------------------------------------------------------------ -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>
